@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p id="text">LEXICON<p>
                            <a href="https://www.lexicon.se/"></a>
                            <h2 id="text-2"> Education including everything, complete competence development with measurable results.
    For 40 years, we have successfully developed people, offered consulting services and helped our customers reach their goals.</h2>
</div>
